/* Fundo */ 
.root {
	-fx-background-color: #2b2b2b;
}

/* Cor de texto das Labels */
.label {
	-fx-text-fill: #ffffff;
}

/* Configuração dos botões */
.button {
	-fx-background-color: #4a4a4a;
	-fx-text-fill: #ffffff;
	-fx-background-radius: 4;
	-fx-padding: 6 12 6 12;
}

/* Hover nos botões */
.button:hover {
	-fx-background-color: #1a1a1a;
	-fx-cursor: hand; /* Transforma a seta do mouse na "mãozinha" */
}

/* Cor da tabela */
.table-view {
	-fx-background-color: #333333;
}

/* Cabeçalho da tabela */
.table-view .column-header .label {
	-fx-text-fill: #ffffff;
}
.table-view .column-header {
	-fx-background-color: #3c3f41;
}

/* Linhas da tabela */ 
.table-row-cell {
	-fx-background-color: #2b2b2b;
	-fx-text-background-color: #ffffff
}

/* Garante que as linhas verticais e horizontais da tabela apareçam */
.table-view .table-cell {
    -fx-border-color: #444444; /* Cor das linhas da tabela */
    -fx-border-width: 0.5px;    /* Espessura das linhas de divisão */
    -fx-padding: 8;            /* Espaçamento interno para o texto não colar na linha */
}

/* Corrige a borda das colunas no cabeçalho para alinhar com a tabela */
.table-view .column-header {
    -fx-border-color: #444444;
    -fx-border-width: 0.5px;
}

/* Hover ao passar o mouse em cima do item da tabela */
.table-row-cell:hover {
    -fx-background-color: #00FF7F; 
    -fx-text-background-color: #ffffff; 
    -fx-cursor: hand; /* Transforma a seta do mouse na "mãozinha" */
}

/* Fundo branco, texto preto */
.combo-box-popup .list-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
}

.combo-box-popup .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000; 
}

/* Hover do HBox */
.combo-box-popup .list-cell:hover {
    -fx-background-color: #00FF7F !important; 
    -fx-text-fill: #000000 !important;        
}

/* Quando o item está apenas selecionado/clicado dentro da lista */
.combo-box-popup .list-cell:filled:selected {
    -fx-background-color: #e0e0e0 !important; 
    -fx-text-fill: #000000 !important;        
}